/* -----------------------
Base styles
------------------------*/

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font: 0.95em/1.2 Raleway, Tahoma, Arial, Sans-Serif;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 1.625em;
}

/* 26px */

h2 {
    font-size: 1.375em;
    color: #474;
}

/* 22px */

h3 {
    font-size: 1.125em;
}

/* 18px */

h4 {
    font-size: 2em;
}

/* 16px */

h5 {
    font-size: 1.6em;
}

/* 14px */

h6 {
    font-size: 2.2em;
}

p {
    margin: 0 0 1.3em;
    line-height: 1.3;
}

blockquote {
    padding: 0.5em 1.5em;
    margin: 0 0 2em;
    border-left: 4px solid #eee;
    color: #888;
    line-height: 1.2;
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-right: 0px solid #ddd;
}


@media (max-width: 924px) {
    .hide {
        display: none !important;
    }
}

/* -----------------------
Layout styles
------------------------*/

.container {
    max-width: 80em;
    margin: 0 auto;
}

.nav-bar {
    text-align: center;
    background: #fff;
    padding: 0.75em 0.75em;
    color: #fff;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ddd;
    opacity: 0.98;
}

.header {
    background-color: #ffffff;
    background-image: linear-gradient(30deg, #ffffff 8%, #e7eff9 30%, #efebeb 74%);
    padding: 1em 1.25em 0.75em 1.25em;
    text-align: center;
}

.header-heading {
    margin: 0;
    line-height: 1.3;
}

.content {
    overflow: hidden;
    padding: 1em 1em;
    background-color: #fff;
}

.col1,
.col2 {
    margin-bottom: 1em;
}

.footer {
    color: #aaa;
    background: #444;
    padding: 1em 1.25em;
    text-align: center;
}

div.imageleft {
    float: left;
    margin-top: 0em;
    margin-right: 1.3em;
    margin-bottom: 1.3em;
}

div.imageright {
    float: right;
    margin-top: 0em;
    margin-left: 1.3em;
    margin-bottom: 1.3em;
}

table.sound td {
    padding: 0.25em 0.55em;
    text-align: center;
}

table.sound td.description {
    color: #888;
    padding: 0.5em;
    font-style: italic;
}

.set1 {
    display: inline;
}

.set2 {
    display: none;
}

.hand {
    font-family: Handlee, cursive;
}

.orange {
    color: #474;
}

.centerButtons {
    text-align: center;
    margin-top: 1em;
}

.theGrid {
    width: 350px;
    height: 450px;
    position: relative;
}

#buttonForegroundRun, #buttonBackgroundRun {
    width: 100px;
}

#selectForeground, #selectBackground {
    border: 0;
    border-right: 8px solid transparent;
    outline: 1px solid #ccc;
}

#audiogramGrid {
    position: relative;
    left: -44px;
    top: 0px;
    width: 350px;
    height: 450px;
    z-index: 0;
}

#overB250,
#overB375,
#overB500,
#overB750,
#overB1000,
#overB1500,
#overB2000,
#overB3000,
#overB4000,
#overB6000,
#overB8000,
#overL250,
#overL375,
#overL500,
#overL750,
#overL1000,
#overL1500,
#overL2000,
#overL3000,
#overL4000,
#overL6000,
#overL8000,
#overR250,
#overR375,
#overR500,
#overR750,
#overR1000,
#overR1500,
#overR2000,
#overR3000,
#overR4000,
#overR6000,
#overR8000 {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    color: #371;
    font-size: 30px;
    font-family: Handlee, cursive;
}

#overlay {
    position: absolute;
    z-index: 1;
    left: 11px;
    top: 9px;
    opacity: 0.5;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.info-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-style: normal;
    border: 5px solid #ccc;
    position: relative; /* Needed for tooltip positioning */
    cursor: pointer; /* Indicates it's clickable */
}

.info-wrapper {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative; /* Needed for tooltip positioning */
    cursor: pointer; /* Indicates it's clickable */
}

.tooltip {
    width: 250px;
    position: absolute;
    bottom: 35px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    z-index: 10; /* Needed to keep the tooltip above other elements */
}

.btn {
    outline: none;
    border: 0px;
    padding: 5px 10px !important;
    font-size: 15px !important;
}

.icon-btn-wrapper input[type=button] {
    border: 0;
    background: transparent;
    margin-bottom: 0px;
    color: #FFF;
    cursor: pointer;
}

.icon-btn-wrapper img {
    width: 25px;
    height: 15px;
}

.icon-btn-wrapper {
    background: #739973;
    display: inline-block;
    color: #FFF !important;
    padding: 5px 10px;
    margin-left: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    box-shadow: 3px 3px #888888;
    border-radius: 10px;
}

label.icon-btn-wrapper.blue-btn:hover {
    background: #014e68 !important;
}

.icon-btn-wrapper:hover {
    background: #474;
}

.icon-btn-wrapper.selected {
    background: #474 !important;
}

label.icon-btn-wrapper.red-btn:hover {
    background: #b52828 !important;
}

.red-btn {
    background: #F53004 !important;
}

.blue-btn {
    background: #0453F5 !important;
}

.green-btn {
    background: #039E18 !important;
}

label.icon-btn-wrapper.green-btn:hover {
    background: #03701d !important;
}

.yellow-btn {
    background: #b6aa05 !important;
}

label.icon-btn-wrapper.yellow-btn:hover {
    background: #a39b05 !important;
}

.orange-btn {
    background: #cf6604 !important;
}

label.icon-btn-wrapper.orange-btn:hover {
    background: #9b6603 !important;
}

.center-text {
    display: inline-block;
    margin-bottom: 10px !important;
}

#contentbutton br {
    display: none !important;
}

#contentbutton {
    margin: 0 auto !important;
    text-align: center !important;
}

#contentbutton {
    text-align: left;
    padding: 0 0 0 10px;
    overflow: hidden;
}

#contentbutton > h1 {
    margin: 0
}

#tin a {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 110px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: linear-gradient(#FC143E, #A50824);
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#tin a:hover {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 107px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: #038D09;
    border-bottom: medium solid #990000;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#pulse a {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 110px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: linear-gradient(#23D7B6, #06856D);
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#pulse a:hover {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 110px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: #038D09;
    border-bottom: medium solid #990000;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#store a {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 110px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: linear-gradient(#C19003, #82681E);
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

#store a:hover {
    letter-spacing: 0.05em;
    font-family: sans-serif;
    font-size: 140%;
    display: block;
    margin: auto;
    height: 107px;
    width: 300px;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    background: #038D09;
    border-bottom: medium solid #990000;
    border-radius: 150px;
    -moz-border-radius: 150px;
    -khtml-border-radius: 150px;
    -webkit-border-radius: 150px;
}

.container-calculator {
    width: 500px;
    margin-left: 50px;
}

.project-calculator-form {
    margin-top: 2rem;
}

.project-calculator-form .input-labels div {
    margin-bottom: 29px;
}

.project-calculator-form .db-inputs input {
    display: block !important;
    margin-bottom: 1rem !important;
    height: 25px;
    font-size: 16px;
    max-width: 60px;
}

.project-calculator-form .three-columns {
    float: left;
    margin-right: 1rem;
}

.project-calculator-form .mode-label {
    margin-bottom: 10px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: #fa9d9d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.active {
    background-color: #4299e1 !important;
    color: white !important;
}

.select-dropdown,
.select-dropdown * {
    height: 30px;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
}

.select-dropdown select {
    font-size: 1rem;
    font-weight: bold;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}

.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.overlay-dot {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    color: #371;
    font-size: 30px;
    font-family: Handlee, cursive;
}

img, video {
    max-width: none !important;
    height: 100% !important;
}

.btn,
.btnR,
.btnL {
    color: #fff;
    display: inline-block;
    padding: .25em 1em;
    margin-bottom: 0.5em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: .2em;
    font-size: .925em;
    opacity: 0.75;
}

.btn {
    background-color: #474;
}

.btnL {
    background-color: #009;
}

.btnR {
    background-color: #900;
}

.btn:hover,
.btnL:hover,
.btnR:hover {
    opacity: 1;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 48em) {
    .col1 {
        float: left;
        width: 60%;
        margin-right: 4%;
    }
    .col2 {
        float: left;
        width: 36%;
    }
    .content {
        padding: 1.5em 3.5em;
    }
}

/* -----------------------
Print styles
------------------------*/

@media screen {
    .hideOnPrint {
        visibility: visible;
        color: #AAA;
    }
}

@media print {
    .hideOnPrint {
        visibility: hidden;
    }
}

/* ---------------------
Audio Buttons
------------------------ */

span.audioButton,
span.audioButtonIsLoading,
span.audioButtonIsPlaying,
span.audioButtonLastPlayed {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px 0 3px;
    vertical-align: middle;
    -webkitborder-radius: 9px;
    -mozborder-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-size: 24px 24px;
    background-color: #060;
}

span.audioButton {
    background-image: url('../audiogram/notPlaying.png');
    opacity: 0.6;
}

span.audioButton:hover {
    opacity: 1;
}

span.audioButtonIsLoading {
    background-image: url('../audiogram/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    background-size: 12px 12px;
    opacity: 1;
}

span.audioButtonIsPlaying {
    background-image: url('../audiogram/playing.png');
    background-size: 25px 25px;
    opacity: 1;
}

span.audioButtonLastPlayed {
    background-image: url('../audiogram/notPlaying.png');
    opacity: 1;
}

span.calibButton,
span.calibButtonIsPlaying {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px 0 3px;
    vertical-align: middle;
    -webkitborder-radius: 9px;
    -mozborder-radius: 9px;
    border-radius: 9px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 8px 4px;
    background-size: 28px 28px;
    background-color: #060;
    opacity: 0.6;
}

span.calibButton {
    background-image: url('../audiogram/notPlayingCalib.png');
}

span.calibButton:hover {
    opacity: 1;
}

span.calibButtonIsPlaying {
    background-image: url('../audiogram/playingCalib.png');
    background-position: 3px 2px;
    background-size: 29px 29px;
    opacity: 1;
}